.topContainer {
  background-image: url("../../../public/assets/about_1.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.ourProjectContainer {
  background-image: url("../../../public/assets/about_2.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.imageCarouselWrapper {
  position: relative;
  min-height: 330px;
}
.ourProjectSection {
  padding-top: 40px;
  padding-bottom: 20px;
  z-index: 2;
  position: relative;
}
.midContainer {
  background-image: url("../../../public/assets/about_3.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.workContainer {
  background-image: url("../../../public/assets/about_7.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 30px;
}

.standContainer {
  height: 100%;
  background-color: #150c11;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 30px;
}
.productContainer {
  background-image: url("../../../public/assets/about_4.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 30px;
}
.questionContainer {
  background-image: url("../../../public/assets/about_5.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 30px;
}
.input-underline {
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  background-color: transparent;
  color: white;
}

.input-underline::placeholder {
  color: white;
  opacity: 0.8; /* Optional: Adjusts placeholder transparency */
}

.input-underline:focus {
  border-bottom: 2px solid white;
  outline: none;
  box-shadow: none;
}

.bottomContainer {
  background-image: url("../../../public/assets/about_6.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 30px;
}
